.app-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding-top: -10px; /* Experiment with negative values */
    padding-bottom: 20px;
}

.centered-image {
    margin: 20px; /* Adjust spacing between images */
    display: flex;
    justify-content: center; /* Center horizontally */
}

.centered-image img {
    margin: 10px; /* Adjust spacing between images */
    width: 300px; /* Adjust the width of the small images */
    height: 100px; /* Adjust the height of the small images */
    border-radius: 20px;
}

.large-image img {
    width: 400px; /* Adjust the width of the large image */
    height: 400px; /* Adjust the height of the large image */
}

.custom-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center; /* Center the text within the form */
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  background-color: #373b47;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #bfc6d1;
}
